/* Define theme-specific colors as CSS variables */
:root.light-mode {
    /* Light */
    --html-bg: #e5e5e5;
    --html-color: #333333;
    --body-border: #999999;
    --body-bg: #dddddd;
    --a-color: #333333;
    --a-underline: #333333;
    --sep-color: #333333;
}

:root {
    /* Dark */
    --html-bg: #131516;
    --html-color: #C8C3BC;
    --body-border: #4D5356;
    --body-bg: #2B2F31;
    --a-color: #C8C3BC;
    --a-underline: #C8C3BC;
    --sep-color: #C8C3BC;
}

html {
  background-color: var(--html-bg);
  color: var(--html-color);
  line-height: 1.6;
  font-size: 18px;
  margin: 1em;
}

body {
  display: block;
  border: 1pt solid var(--body-border);
  margin: auto;
  max-width: 23cm;
  padding: 1em;
  background-color: var(--body-bg);
}

#content {
    max-width: 960px;
    margin: auto;
    left: 1%;
    right: 1%;
    position: absolute;
}

a {
    color: var(--a-color); /* Text color */
    text-decoration: none; /* Remove the default underline */
    border-bottom: 1px solid var(--a-underline); /* Custom underline color */
}

a:hover {
    border-bottom-color: red; /* Custom underline color on hover */
}
.back-button {
    font-size: 1rem; /* Adjust the font size as needed */
    vertical-align: middle; /* Align vertically with the h1 text */
    margin-left: 10px; /* Add spacing between h1 and the link */
    display: inline-block; /* Display as an inline block to stay on the same line */
}

.header-dropdown {
    position: relative;
    display: inline-block;
}

.header-dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.header-dropdown-content a:hover {
    background-color: #555;
}

.header-button {
    font-size: 1rem;
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
}
.header-dropdown-content {
    display: none; /* Set the default state to hidden */
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.email-button {
    /* Inherit common styling */
    font-size: 1rem;
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
    /* Set the background color to match your style */
}

.mode-button {
    /* Inherit common styling */
    font-size: 1rem;
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
    /* Set the background color to match your style */
}

.section-separator {
    border: 1px solid var(--sep-color); /* Adjust the border style as needed */
    margin: 30px 0; /* Adjust the margin for spacing */
}