:root.light-mode {
    /* Light */
    --html-bg: #e5e5e5;
    --html-color: #333333;
    --body-border: #999999;
    --body-bg: #dddddd;
    --a-color: #333333;
    --a-underline: #333333;
    --sep-color: #333333;
    --dropdown-content-color: #333;
    --dropdown-content-bg: #fff;
    --dropdown-hover-bg: #eee;
    --dropdown-shadow: rgba(0,0,0,0.2);
}

:root {
    /* Dark */
    --html-bg: #131516;
    --html-color: #C8C3BC;
    --body-border: #4D5356;
    --body-bg: #2B2F31;
    --a-color: #C8C3BC;
    --a-underline: #C8C3BC;
    --sep-color: #C8C3BC;
    --dropdown-content-color: #fff;
    --dropdown-content-bg: #333;
    --dropdown-hover-bg: #555;
    --dropdown-shadow: rgba(0,0,0,0.2);
}

html {
  background-color: var(--html-bg);
  color: var(--html-color);
  line-height: 1.6;
  font-size: 18px;
  margin: 1em;
}

body {
  display: block;
  border: 1pt solid var(--body-border);
  margin: auto;
  max-width: 23cm;
  padding: 1em;
  background-color: var(--body-bg);
  font-family: Lato
}

#content {
    max-width: 960px;
    margin: auto;
    left: 1%;
    right: 1%;
    position: absolute;
}

a {
    color: var(--a-color);
    text-decoration: none;
    border-bottom: 1px solid var(--a-underline);
}

a:hover {
    border-bottom-color: red;
}
.back-button {
    font-size: 1rem;
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
}

.header-dropdown {
    position: relative;
    display: inline-block;
}

.header-dropdown-content a {
    color: var(--dropdown-content-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.header-dropdown-content a:hover {
    background-color: var(--dropdown-hover-bg);
}

.header-button {
    font-size: 1rem;
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
}
.header-dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dropdown-content-bg);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px --var(dropdown-shadow);
    z-index: 1;
}

.email-button {
    font-size: 1rem;
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
}

.mode-button {
    font-size: 1rem;
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
}

.section-separator {
    border: 1px solid var(--sep-color);
    margin: 30px 0;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 15px;
}

.description {
    margin-left: 10px;
    margin-right: 10px;
}

.description .full {
    display: none;
}

.skills {
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    line-height: 1; /* Adjust the value as needed to align the clock vertically */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align content with space between */
}

.header-clock {
    font-size: 1rem;
    margin-left: 10px; /* You can adjust the margin as needed */
}