{% extends "base.html" %}
{% block location %}Home{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2># Home</h2>
    {% for section in main_data %}
    <div class="main_section">
        {% if section.href %}
            <h3><a href="{{ section.href }}"># {{ section.title }}</a></h3>
        {% else %}
            <h3># {{ section.title }}</h3>
        {% endif %}
        <div class="description">{{ section.description|safe }}</div>
        {% if not forloop.last %}
            <hr class="section-separator">
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
